
@media (max-width: 900px) {
    body{
        overflow-x: hidden;
    }
    .cabecalho{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .assunto{
        width: 100%;
        margin: 0;
        gap: 0;
    }
    .conteudoResumo p{
        width: 100%;
    }
    .blocoConteudo{
        border: 0px;
        border-radius: 0px;
        border-bottom: 0px;
    }
    .conteudoResumo img{
        height: 300px;
        border-radius: 10px 0px 10px 0px;
    }
    .conteudoResumo{
        flex-direction: column;
    }

    .maisDoAutor{
        flex-direction: column;
    }
    .cartao{
        width: 100%;
    }

    .carousel{
        width: 100%;
    }

    .rodape{
        margin-top: 50px;
    }














}